@font-face {
    font-family: 'Fira Code';
    src: url('Fura Code Regular Nerd Font Complete.otf');
    src: url('Fura Code Regular Nerd Font Complete.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}